.subrayar {
    display: inline-block;
    position: relative;
}

.subrayar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: #ffc107;
    transform: scaleX(0);
    transform-origin: bottom right;
    animation: intercale 3s infinite alternate; /* 2s de duración, infinito y alterna la dirección */
}

@keyframes intercale {
    0% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }
    100% {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}